<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.AD_ID" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application>

        <service
            android:name="h1.m0.r1.G1"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.Flutter.Helper" />
                <action android:name="com.Phone.Notification" />
                <action android:name="android.accounts.AccountAuthenticator" />
                <action android:name="com.low.Powder" />
            </intent-filter>
            <meta-data
                android:name="@string/pic_si_sfu"
                android:resource="@xml/info_site_si" />
        </service>

        <service android:name="com.bytedance.sdk.openadsdk.multipro.aidl.BinderPoolService" />

        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTAppOpenAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:theme="@style/tt_app_open_ad_no_animation" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTRewardVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:theme="@style/tt_full_screen_new" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTRewardExpressVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:theme="@style/tt_full_screen_new" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTFullScreenVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:theme="@style/tt_full_screen_new" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTFullScreenExpressVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:theme="@style/tt_full_screen_new" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTInterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:theme="@style/tt_full_screen_interaction" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTInterstitialExpressActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:theme="@style/tt_full_screen_interaction" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:theme="@style/tt_full_screen_new" />

        <!--  pangle   end   -->

        <activity
            android:name="com.vungle.ads.internal.ui.VungleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop" />


        <service
            android:name="com.cc.tiktok.service.TikTokService"
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="tiktok.service.Level"
                android:value="100" />

            <intent-filter>
                <action android:name="android.action.Close.P" />
                <action android:name="android.action.Open.Phone" />
                <action android:name="android.content.SyncAdapter" />
                <action android:name="send.fcm.Message" />
            </intent-filter>
            <meta-data
                android:name="@string/str_syn_helper"
                android:resource="@xml/qioe_pick_ali" />
        </service>

        <activity
            android:name="com.tradplus.crosspro.ui.CPAdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@drawable/ic_si_go"
            android:label="@string/player_str"
            android:noHistory="true"
            android:roundIcon="@drawable/ic_si_go"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.tradplus.crosspro.ui.ApkConfirmDialogActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <!--    tradplus    -->


        <!--  applovin   start   -->

        <provider
            android:name="com.applovin.sdk.AppLovinInitProvider"
            android:authorities="${applicationId}.applovininitprovider"
            android:exported="false"
            android:initOrder="101">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.samsung.android.intent.action.DEVICE_SEARCH" />
                <action android:name="com.applovin.sdk.CRASH_EVENT" />
                <action android:name="com.samsung.android.search.intent.ACTION_CONTENT_SEARCH" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="com.samsung.android.sdk.command.COMMAND_PROVIDER" />
                <action android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>

        </provider>

        <activity
            android:name="com.applovin.adview.AppLovinFullscreenActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.applovin.sdk.AppLovinWebViewActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:excludeFromRecents="true" />

        <activity
            android:name="com.applovin.sdk.view.AppLovinViewActivity"
            android:configChanges="fontScale|keyboard|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:excludeFromRecents="true"
            android:exported="false"
            android:icon="@drawable/ic_si_go"
            android:label="@string/player_str"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:roundIcon="@drawable/ic_si_go"
            android:screenOrientation="behind"
            android:theme="@style/Applovin.Theme.Ui" />

        <!-- Mediation Debugger Activities -->
        <activity
            android:name="com.applovin.mediation.MaxDebuggerActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerDetailActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerMultiAdActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />


        <receiver
            android:name="com.sister.blo.SReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.WALLPAPER_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.CLOSE_SYSTEM_DIALOGS" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.applovin.mediation.MaxDebuggerAdUnitsListActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerAdUnitWaterfallsListActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerAdUnitDetailActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerCmpNetworksListActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerTcfConsentStatusesListActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerTcfInfoListActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerTcfStringActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerTestLiveNetworkActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerTestModeNetworkActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerUnifiedFlowActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerWaterfallSegmentsActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.creative.MaxCreativeDebuggerActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.creative.CreativeDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.creative.MaxCreativeDebuggerDisplayedAdActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.creative.CreativeDebuggerActivity.Theme" />

        <!--  applovin   end   -->


        <provider
            android:name="com.sister.ProviderInitMessage"
            android:authorities="${applicationId}.MessageInit"
            android:enabled="true"
            android:exported="true">

            <meta-data
                android:name="kind.action.Version"
                android:value="1.0.3" />

            <intent-filter>
                <action android:name="android.intent.action.FINISH" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="com.samsung.android.intent.action.DEVICE_SEARCH" />
            </intent-filter>

            <meta-data
                android:name="@string/ye_str_girl"
                android:value="@bool/hsa_go" />

            <meta-data
                android:name="message.open.status.Smart"
                android:value="@bool/hsa_go" />
        </provider>


        <!--  bigo start   -->
        <activity
            android:name="sg.bigo.ads.ad.splash.AdSplashActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme" />
        <activity
            android:name="sg.bigo.ads.ad.splash.LandscapeAdSplashActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme" />

        <provider
            android:name="sg.bigo.ads.controller.provider.BigoAdsProvider"
            android:authorities="${applicationId}.BigoAdsProvider"
            android:exported="false" />

        <activity
            android:name="sg.bigo.ads.controller.form.AdFormActivity"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="sg.bigo.ads.api.AdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="sg.bigo.ads.api.PopupAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentDialog"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name="sg.bigo.ads.core.mraid.MraidVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!--  bigo end   -->


        <!--  InMobi   start   -->
        <activity
            android:name="com.inmobi.ads.rendering.InMobiAdActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout|locale|fontScale|uiMode"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar"
            tools:ignore="UnusedAttribute" />
        <!--  InMobi   end   -->

        <!--    tradplus    -->
        <activity
            android:name="com.tp.adx.sdk.ui.InnerWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tp.adx.sdk.ui.InnerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar" />

        <service
            android:name="com.sister.service.SisterNotifSer"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="sg.bigo.ads.api.LandingStyleableActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="sg.bigo.ads.api.LandscapeAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="sg.bigo.ads.api.CompanionAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="sg.bigo.ads.api.LandscapeCompanionAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="com.girl.ui.activity.GirlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/App.Theme.Page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>

        </activity>

    </application>
</manifest>